.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
   
    img{
        margin-right: 5px;
    };
}

ul{
    list-style: none;
}
